body {
    background-color: #eee;
    margin: 0;
    font-family: sans-serif;
}
#contenedor {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    background-color: #F0E0D1;
    background-attachment: fixed;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%
    padding: 20px;
    background-color: #D4AEA3;
    position: sticky;
    top: 0;
    max-width: 1200px;
    z-index: 10;
    transition-duration: 1s;
}

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    padding-left: 20px;
    color: black;
    font-family: 'Oleo Script Swash Caps', cursive;
}
header a {
    font-size: 1.3rem;
     padding-right: 20px;
}

header a:hover {
    color: chocolate;
    border-bottom: solid 2px bisque;
    padding-bottom: 5px;
}

header a:active {
    color: #A64B1F;
}

#logo a {
    border-bottom: none;
}

.enlace_inactivo {
    border-bottom: solid 2px bisque;
    padding-bottom: 5px;
}

 .div_desplegable {
    background-color: #D4AEA3;
    margin-top: 7px;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    display: none;

}
            
.div_desplegable a {
    padding: 5px 10px;
    color: black;
    display: block;
   
}

.div_desplegable a:hover {
    background-color: rgba(0,0,0,0.2);
}

.li_desplegable:hover .div_desplegable {
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Imperial Script', cursive;
    font-size: 5rem;
    background-color: #D4AEA3;
    margin: 0;
    
}

span {
    font-weight: bold;
}

p {
    max-width: 400px;
    text-align: justify;
}

#padre {
    display: flex;
    flex-direction: column;
   
  
}

#hijo1 {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

#parte3 h2 {
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    margin-top: 80px;
}

#fotocambia {
    display: flex;
    margin: auto;
}

#formulario {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    height: 400px;
    max-width: 600px;
   margin: auto;
    
}
input {
    padding: 5px;
}

#visor {
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}

#slider {
    width: 3000px;
    position: absolute;
    left: 0px;
    animation-name: animacion-slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes animacion-slider {
    0% {left: 0px;}
    10% {left: -600px;}
    25% {left: -600px;}
    35% {left: -1200px;}
    50% {left: -1200px;}
    60% {left: -1800px;}
    75% {left: -1800px;}
    85% {left: -2400px;}
    100% {left: -2400px;}
}


#contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

#contacto h3 {
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
}

 input, #campo_mensaje {
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    border: none;
}

[type="submit"] {
    cursor: pointer;
}  

#redes {
    display: flex;
    justify-content: center; 
    justify-content: space-evenly;
}

#redes img {
    height: 80px;
    width: 80px;
      
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #D4AEA3;
    font-family: 'Oleo Script Swash Caps', cursive;
}
 
   
@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }
    header img {
        width: 60px;
        height: 50px;
    }
    nav {
        height: 60px;
        margin: 0;
    }
    header ul {
        margin: 0;
        padding: 0;
        font-size: 14px
    }
    .enlace_inactivo {
        padding-bottom: 1px;
    }
    h1 {
        font-size: 3rem;
        margin: 0;
        padding: 5px;
    }
    section img {
        width: 360px;
        height: 100%;
    }
    #padre {
        display: flex;
        flex-direction: column;
    }
    #hijo1 {
        flex-direction: column;
    }
    #hijo1 p {
        padding: 0 15px;
    }
    #hijo1 img {
        max-width: 300px;
        max-height: 300px;
    }
    #formulario {
        max-width: 300px;
    }
    #contacto {
        flex-direction: column;
    }
    #contacto li {
        font-size: 1rem;
        
    }
    #parte3 {
        margin: 0;
    }
    #parte3 h2 {
        font-size: 1.4rem;
        padding: 0 20px;
    }
    #contacto h3 {
        font-size: 1.3rem;
    }
   
    iframe{
        width: 97%;
        height: 250px;
        border-radius: 10px;
    }
    
    @keyframes animacion-slider {
    0% {left: 0px;}
    10% {left: -300px;}
    25% {left: -300px;}
    35% {left: -600px;}
    50% {left: -600px;}
    60% {left: -900px;}
    75% {left: -900px;}
    85% {left: -1200px;}
    100% {left: -1200px;}
}
    
    #visor {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

#slider {
    width: 1800px;
    position: absolute;
    left: 0px;
    animation-name: animacion-slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}
    
}


    


















